a {
  color:black;
  text-decoration: none;
}
#active {
    color:red;
}
.saw {
  color:gray;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-style: normal;
  border-bottom: 2px solid gray;
  margin: 0;
  padding: 20px;
}
#grid ol{
  border-right: 2px solid gray;
  width: 300px;
  margin: 0px;
  margin-left: 20px;
  padding: 20px;
  font-size: 20px;
}
body{
  margin: 0;
}
#grid{
  display: grid;
  grid-template-columns: 450px 1fr;
}
#article{
  padding-left: 10px;
}
@media(max-width:1000px){
  #grid{
    display: block;
  }
  #grid ol{
    border-right:none;
  }
     h1 {
   border-bottom: none;
  }
}
